<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orders</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<h1>Orders</h1>
<table>
    <tr>
        <th>Tour Name</th>
        <th>User Name</th>
        <th>Status</th>
        <th>Total Price</th>
        <th>Actions</th>
    </tr>
    <tr th:each="order : ${orders}">
        <td th:text="${order.tour.name}">Tour Name</td>
        <td th:text="${order.user.name}">User Name</td>
        <td th:text="${order.paymentStatus}">Status</td>
        <td th:text="${order.totalPrice}">Total Price</td>
        <td>
            <a th:href="@{/orders/{id}(id=${order.id})}">
                <button>View</button>
            </a>
        </td>
    </tr>
</table>
</body>
</html>
