<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: head"></head>
<body>
<div class="container mt-5">
    <h2>My reservations</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Tour</th>
            <th>Date</th>
            <th>Location</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.tour.name}"></td>
            <td th:text="${order.orderDate}"></td>
            <td th:text="${order.seatsBooked}"></td>
            <td th:text="${order.totalPrice} + ' KZT'"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
